<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Admin
    </title>

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="cursor"></div>
    <div class="cursor2"></div>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="logo flex center">
            <a href="javascript:void(0)">
                <img src="images/logo-light.png" alt="logo">
            </a>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <h4>MENU</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown" style="color: #fff;">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-chart-column"></i>
                                <span>Dashboard</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" style="color: #fff;">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-grip"></i>
                                <span>Apps</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Calender
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Chat
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - E-mail
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Task
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - To Do
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - API Key
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-layer-group"></i>
                                <span>Layouts</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <h4>PAGES</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-regular fa-user"></i>
                                <span>Authentication</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-regular fa-file-lines"></i>
                                <span>Pages</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-rocket"></i>
                                <span>Landing</span>
                                <div class=" bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <h4>COMPONENTS</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-pen-ruler"></i>
                                <span>Base UI</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-display"></i>
                                <span>Advance UI</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-medal"></i>
                                <span>Widgets</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-file-contract"></i>
                                <span>Forms</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-table-columns"></i>
                                <span>Tables</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span>Charts</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-icons"></i>
                                <span>Icons</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-earth-asia"></i>
                                <span>Maps</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-users-between-lines"></i>
                                <span>Multi Level</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- header -->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="w-12 flex align-items">
                        <div class="w-1">
                            <div class="bar" id="bar">
                                <a href="javascript:void(0)">
                                    <i class="fa-solid fa-bars-staggered"></i>
                                </a>
                            </div>
                        </div>
                        <div class="w-3">
                            <div class="header-form">
                                <form action="#">
                                    <input type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                        <div class="w-8">
                            <div class="others flex right ">
                                <ul class="flex align-items">
                                    <li class="lan rel">
                                        <a href="javascript:void(0)" class="lang dropdown flex align-items">
                                            <img src="images/us.svg" alt="lang">
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <li style="background-color: var(--bg-color);">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/us.svg" alt="lang">
                                                        <span>English</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/spain.svg" alt="lang">
                                                        <span>Spanish</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/italy.svg" alt="lang">
                                                        <span>Italian</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/germany.svg" alt="lang">
                                                        <span>German</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="cart rel">
                                        <a href="javascript:void(0)" class="dropdown">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <div class="title flex align-items">
                                                    <div class="w-6">
                                                        <a href="javascript:void(0)">
                                                            <h4>My Cart</h4>
                                                        </a>
                                                    </div>
                                                    <div class="w-6 flex right">
                                                        <a href="javascript:void(0)">
                                                            <h5>4 items</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <hr>
                                                <li style="margin-top: 8px;">
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-1.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Branded T-shirts</h4>
                                                                <p>Quantity: 10 x $32</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 320</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-2.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Bentwood Chair</h4>
                                                                <p>Quantity: 5 x $18</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 89</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-3.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Borosil Paper Cup</h4>
                                                                <p>Quantity: 3 x $250</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 750</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin-bottom: 8px;">
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-6.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Gray Styled T-Shirt</h4>
                                                                <p>Quantity: 1 x $1250</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 1250</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr>

                                                <div class="bill flex align-items">
                                                    <div class="w-6">
                                                        <a href="javascript:void(0)">
                                                            <h4>Total :</h4>
                                                        </a>
                                                    </div>
                                                    <div class="w-6 flex right">
                                                        <a href="javascript:void(0)">
                                                            <h5>$3399.00</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="check-btn">
                                                    <a href="javascript:void(0)">
                                                        Checkout
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="zoom">
                                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="mod">
                                            <i class="fa-regular fa-moon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="notification">
                                            <i class="fa-regular fa-bell"></i>
                                        </a>
                                    </li>
                                    <li class="user rel">
                                        <a href="javascript:void(0)" class="dropdown">
                                            <div class="user-wrap flex align-items">
                                                <div class="w-3">
                                                    <div class="user-img">
                                                        <img src="images/avatar-3.jpg" alt="user">
                                                    </div>
                                                </div>
                                                <div class="w-9">
                                                    <div class="user-info">
                                                        <p>PRATYUSH BHATIYA</p>
                                                        <span>- Student</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <div class="text" style="margin-bottom:5px ;">
                                                    <p>Welcome PRATYUSH!</p>
                                                </div>
                                                <li>
                                                    <a href="./dist/card.ejs" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-user-tie"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Profile</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-regular fa-envelope"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Messages</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-regular fa-calendar-check"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Taskboard</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-question"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Help</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <hr>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-wallet"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Balence : <b>$5971.67</b></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-gear"></i>
                                                        </div>
                                                        <div class="w-6 flex align-items">
                                                            <span>Setting</span>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <h6>NEW</h6>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-lock"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Lock-Screen</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/login" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Log-Out</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main-content -->
    <main>
        <section class="main">
            <div class="main-cont">
                <div class="container" id="particles-js">
                    <div class="row">
                        <div class="w-12">
                            <div class="intro-main flex align-items space-between">
                                <div class="w-6 ">
                                    <h4>Good Morning, PRATYUSH!</h4>
                                    <span>Here's what's happening with your store today.</span>
                                </div>
                                <div class="w-1"></div>
                                <div class="w-3 calender flex right">
                                    <a href="javascript:void(0)" class="dropdown">
                                        <span>01 Jan 2022 to 31 Jan 2022</span>
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </a>
                                    <div class="dropdown-menu">

                                    </div>
                                </div>
                                <div class="w-2 add-cart">
                                    <a href="javascript:void(0)" class="flex align-items center">
                                        <i class="fa-solid fa-circle-plus"></i>
                                        <p>Add Product</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-12 flex">
                            <div class="w-3">
                                <div class="sale-wrap">
                                    <div class="flex space-between">
                                        <p>TOTAL EARNINGS</p>
                                        <h5> <i class="fa-solid fa-arrow-trend-up"></i> +16.24 %</h5>
                                    </div>
                                    <div class="sale-con">
                                        <h3>$559.25k</h3>
                                        <div class="flex space-between align-items">
                                            <a href="javascript:void(0)">View net earnings</a>
                                            <i class="fa-solid fa-dollar-sign right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-3">
                                <div class="sale-wrap">
                                    <div class="flex space-between">
                                        <p>ORDERS</p>
                                        <h5 style="color: #f06548;"> <i class="fa-solid fa-arrow-trend-down"></i> -3.57
                                            %</h5>
                                    </div>
                                    <div class="sale-con">
                                        <h3>36,894</h3>
                                        <div class="flex space-between align-items">
                                            <a href="javascript:void(0)">View all orders</a>
                                            <i class="fa-solid fa-bag-shopping"
                                                style="background-color: #DFF0FA; color: #299CDB;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-3">
                                <div class="sale-wrap">
                                    <div class="flex space-between">
                                        <p>CUSTOMERS</p>
                                        <h5> <i class="fa-solid fa-arrow-trend-up"></i> +29.08 %</h5>
                                    </div>
                                    <div class="sale-con">
                                        <h3>183.35M</h3>
                                        <div class="flex space-between align-items">
                                            <a href="javascript:void(0)">See details</a>
                                            <i class="fa-regular fa-circle-user"
                                                style="background-color: #FEF4E4; color: #f7b84b;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-3">
                                <div class="sale-wrap">
                                    <div class="flex space-between">
                                        <p>MY BALANCE</p>
                                        <h5> +0.00 %</h5>
                                    </div>
                                    <div class="sale-con">
                                        <h3>$165.89k</h3>
                                        <div class="flex space-between align-items">
                                            <a href="javascript:void(0)">Withdraw money</a>
                                            <i class="fa-solid fa-wallet"
                                                style="background-color: #E2E5ED; color: #364574;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-12 flex">
                            <div class="w-8 chart">
                                <div class="chart-wrap">
                                    <div class="chart-title flex align-items">
                                        <div class="w-6">
                                            <h6>Revenue</h6>
                                        </div>
                                        <div class="w-6">
                                            <ul class="flex right">
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        ALL
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        1M
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        6M
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        1Y
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chart-info flex align-items">
                                        <div class="w-3 info-1 text">
                                            <h3>7,585</h3>
                                            <p>Orders</p>
                                        </div>
                                        <div class="w-3 info-1 text">
                                            <h3>$22.89k</h3>
                                            <p>Earnings</p>
                                        </div>
                                        <div class="w-3 info-1 text">
                                            <h3>367</h3>
                                            <p>Refunds</p>
                                        </div>
                                        <div class="w-3 info-1 text" style="color: #0ab39c; border: none;">
                                            <h3>18.92%</h3>
                                            <p>Ratio</p>
                                        </div>
                                    </div>
                                    <div class="chart-js" height="200px" width="100%" id="chart">
                                    </div>
                                </div>
                            </div>
                            <div class="w-4 map">
                                <div class="map-wrap">
                                    <div class="map-title flex align-items">
                                        <div class="w-8">
                                            <h6>Sales Locations</h6>
                                        </div>
                                        <div class="w-4">
                                            <a href="javascript:void(0)">
                                                Export
                                            </a>
                                        </div>
                                    </div>
                                    <div class="map-container">
                                        <img
                                            src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
                                        <div class="point venezuela tippy" title="Venezuela"></div>
                                        <div class="point brasil tippy" title="Brasil"></div>
                                        <div class="point argentina tippy" title="Argentina"></div>
                                        <div class="point colombia tippy" title="Colombia"></div>
                                        <div class="point panama tippy" title="Panam"></div>
                                        <div class="point mexico tippy" title="Mexico"></div>
                                        <div class="point usa tippy" title="Estados Unidos"></div>
                                        <div class="point arabia tippy" title="Arabia Saudi"></div>
                                        <div class="point turquia tippy" title="Turqua"></div>
                                        <div class="point rusia tippy" title="Rusia"></div>
                                        <div class="point china tippy" title="China"></div>
                                        <div class="point japon tippy" title="Japon"></div>
                                        <div class="point australia tippy" title="Australia"></div>
                                    </div>
                                    <div class="country flex">
                                        <div class="w-6">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> venezuela
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Brasil
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Argentina
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Colombia
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Panam
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Mexico
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="w-6">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Estados Unidos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Arabia Saudi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Turqua
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Rusia
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> China
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-solid fa-circle"></i> Japon
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-12 sell-info flex">
                            <div class="w-6 sell-1">
                                <div class="sell-info-wrap">
                                    <ul>
                                        <div class="s-i-title flex align-items">
                                            <div class="w-6">
                                                <h3>Best Selling Products</h3>
                                            </div>
                                            <div class="w-6 flex right">
                                                <h5>SORT BY : <span> Today</span></h5>
                                            </div>
                                        </div>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-1.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Brand T-shirts</h4>
                                                        <p>24 Apr 2021</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>$ 29</h6>
                                                        <span>Price</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>62</h6>
                                                        <span>Orders</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>510</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$1,798</h6>
                                                        <span>Total</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-2.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Bentwood Chair</h4>
                                                        <p>24 Apr 2021</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>$85</h6>
                                                        <span>Price</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>35</h6>
                                                        <span>Orders</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>660</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$2982</h6>
                                                        <span>Total</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-3.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Paper Cup</h4>
                                                        <p>24 Apr 2021</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>$14</h6>
                                                        <span>Price</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>80</h6>
                                                        <span>Orders</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>750</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$1128</h6>
                                                        <span>Total</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-6.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Gray T-Shirt</h4>
                                                        <p>24 Apr 2021</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>$54</h6>
                                                        <span>Price</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>74</h6>
                                                        <span>Orders</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>805</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$4000</h6>
                                                        <span>Total</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <i>Showing <b>5</b> of <b>25</b> Results</i>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-6 sell-1">
                                <div class="sell-info-wrap">
                                    <ul>
                                        <div class="s-i-title flex align-items">
                                            <div class="w-6">
                                                <h3>Top Sellers</h3>
                                            </div>
                                            <div class="w-6 flex right">
                                                <h5>Report</h5>
                                            </div>
                                        </div>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img 1.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>iTest Factory</h4>
                                                        <p>Oliver Tyler</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>8547</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$541200</h6>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>32%</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-2 (1).png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Digitech Galaxy</h4>
                                                        <p>John Roberts</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>895</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$75030</h6>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>79%</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-3 (1).png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Nesta Technologies</h4>
                                                        <p>Harley Fuller</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>3470</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$45600</h6>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>90%</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-1 flex">
                                                <div class="w-2 flex center align-items">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/img-8.png" alt="img-1">
                                                    </a>
                                                </div>
                                                <div class="w-4">
                                                    <a href="javascript:void(0)">
                                                        <h4>Zoetic Fashion</h4>
                                                        <p>James Bowen</p>
                                                    </a>
                                                </div>
                                                <div class="w-6 flex align-items center padding-none space-evenly text">
                                                    <a href="javascript:void(0)">
                                                        <h6>5488</h6>
                                                        <span>Stocks</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>$29456</h6>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <h6>40%</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <i>Showing <b>5</b> of <b>25</b> Results</i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="w-12 flex">
                            <div class="w-4 map">
                                <div class="map-wrap">
                                    <div class="map-title flex align-items">
                                        <div class="w-6">
                                            <h6>Store Visits</h6>
                                        </div>
                                        <div class="w-6 flex right">
                                            <h5>Report</h5>
                                        </div>
                                    </div>
                                    <div class="stor-visits" style="padding: 15px 0;">
                                        <canvas width="500" id="myChart"></canvas>
                                    </div>
                                    <div class="stor-visits" id="line" style="padding: 15px 0;"></div>
                                </div>
                            </div>
                            <div class="w-8 map">
                                <div class="map-wrap">
                                    <div class="map-title flex align-items">
                                        <div class="w-6">
                                            <h6>calender</h6>
                                        </div>
                                        <div class="w-6 flex right">
                                            <h5>Report</h5>
                                        </div>
                                    </div>
                                    <div class="Calender">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tippy.js@1.1.3/dist/tippy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <script src="jq/jq-script.js"></script>
</body>

</html>