<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-login</title>

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <div class="form-wrapper">
        <div class="form-cont">
            <div class="form-title flex align-items center">
                <img src="images/logo-light.png" alt="logo">
            </div>
            <div class="form-text">
                <form action="#">
                    <div class="user-name rel">
                        <input type="text" placeholder="Username">
                        <a href="javascript:void(0)" class="abs">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </div>
                    <div class="password rel">
                        <input type="password" placeholder="Password">
                        <a href="javascript:void(0)" class="abs">
                            <i class="fa-solid fa-fingerprint"></i>
                        </a>
                    </div>
                    <div class="login-btn flex align-items center">
                        <a href="/">
                            LOGIN
                        </a>
                    </div>
                    <div class="sign-up-path text">
                        <i>Don't have Account ? Please <a href="/signup">sign-up</a></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="jq/jq-script.js"></script>
</body>

</html>