<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roberto - Hotel & Resort HTML Template</title>

    <link rel="icon" href="images/favicon.png.webp">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/midea.css"> -->
    <link rel="stylesheet" href="css/max-media.css">

</head>
<body>
    <header>
        <!-- top-bar -->
        <section class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="w-5 contact w-xs-3 w-s-3 w-l-5">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-phone"></i><span>(123) 456-789-1230</span></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-envelope"></i><span>info.colorlib@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <div class="w-7 social  w-xs-9 w-s-9 w-l-7">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- menu-bar -->
        <section class="menu-bar">
            <div class="container">
                <div class="row">
                    <div class="w-2 w-l-2">
                        <a href="#"><img src="images/logo.png.webp" alt="logo"></a>
                    </div>
                    <div class="w-8 nav-bar w-l-8">
                        <nav>
                            <ul class="align-end">
                                <li><a href="javascript:void(0)">Home</a></li>
                                <li><a href="javascript:void(0)">Rooms</a></li>
                                <li><a href="javascript:void(0)">About Us</a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)"><span>Pages <i class="fa-solid fa-chevron-down"></i></span></a>
                                </li>
                                <li><a href="javascript:void(0)">News</a></li>
                                <li><a href="javascript:void(0)">Contact</a></li>
                                <li><a href="javascript:void(0)"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li>
                                    
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-2 book-now w-l-2">
                        <a href="javascript:void(0)"><span>BOOK NOW <i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                    <div class="bar w-xs-2 w-s-2 w-m-2">
                        <a href="javascript:void(0)"><i class="fa-solid fa-bars"></i></a>
                    </div>
                    
                </div>
            </div>
        </section>
    </header>
    <main>

        <!-- banner -->
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="banner-text">
                        <span>HOTEL & RESORT</span>
                        <h2>Welcome To Roberto</h2>
                        <P>Discover Now</P>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- About us -->
        <section class="about-us py">
            <div class="container">
                <div class="row">
                    <div class="w-6 about-text w-xs-12 w-s-12 w-m-12 w-l-6">
                        <h5>ABOUT US</h5>
                        <h3>Welcome To <br>Roberto Hotel Luxury</h3>
                        <h6>With over 340 hotels worldwide, NH Hotel Group offers a wide variety of hotels catering for a perfect stay no matter where your destination.</h6>
                        <p>Manager: <span> Michen Taylor</span></p>
                        <img src="images/signature.png.webp" alt="signature">
                    </div>
                    <div class="w-6 about-images flex w-l-6">
                        <div class="image-class-1 w-m-12">
                            <img src="images/13.jpg.webp" alt="bg1">
                            <img src="images/14.jpg.webp" alt="bg2">
                        </div>
                        <div class="image-class-2 w-m-12">
                            <img src="images/15.jpg.webp" alt="bg3">  
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- about-services -->
        <section class="about-services">
            <div class="container">
                <div class="row">
                    <div class="w-3 w-xs-6 w-s-6 w-m-3 w-l-3">
                        <div class="icon-class">
                            <i class="fa-solid fa-truck-fast"></i>
                            <p>Transportion</p>
                        </div>
                    </div>
                    <div class="w-3 w-xs-6 w-s-6 w-m-3 w-l-3">
                        <div class="icon-class">
                            <i class="fa-solid fa-spa"></i>
                            <p>Reiseservice</p>
                        </div>
                    </div>
                    <div class="w-3 w-xs-6 w-s-6 w-m-3 w-l-3">
                        <div class="icon-class">
                            <i class="fa-solid fa-spoon"></i>
                            <p>Spa Relaxtion</p>
                        </div>
                    </div>
                    <div class="w-3 w-xs-6 w-s-6 w-m-3 w-l-3">
                        <div class="icon-class">
                            <i class="fa-solid fa-martini-glass-citrus"></i>
                            <p>Restaurant</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- package -->
        <section class="package">
            <div class="container">
                <div class="row">
                    <div class="w-6 w-xs-12 w-s-12 w-m-6 w-l-6">
                        <img src="images/16.jpg.webp" alt="bg">
                    </div>
                    <div class="w-6 about-package">
                        <h2>Primium King Room</h2>
                        <h3>400$ <span>/Day</span></h3>
                        <ul>
                            <li><i class="fa-solid fa-check"></i>Size       : 30 ft</li>
                            <li><i class="fa-solid fa-check"></i>Capacity   : Max 5 Person</li>
                            <li><i class="fa-solid fa-check"></i>Bed        : King Beds</li>
                            <li><i class="fa-solid fa-check"></i>Services   : Wifi, Television, Bathroom</li>
                        </ul>
                        <p>View Details</p>
                        <div class="next">
                            <h6>Next <i class="fa-solid fa-arrow-right"></i></h6>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- review -->
        <section class="review py">
            <div class="container">
                <div class="row">
                    <div class="w-6 review-image w-xs-12 w-s-12 w-m-6 ">
                        <img src="images/10.jpg.webp" alt="customer">
                    </div>
                    <div class="w-6 review-text w-xs-12 w-s-12 w-m-6">
                        <h5>TESTIMONIALS</h5>
                        <h3>Our Guests Love Us</h3>
                        <h6>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ex quos. Alias a rem maiores, possimus dicta sit distinctio quis iusto!”</h6>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Downey Sarah <span> - CEO Deercreative</span></p>
                        <div class="dots w-xs-12 w-s-12">
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- blog -->
        <section class="events py">
            <h6>OUR BLOG</h6>
            <h2>Latest News & Event</h2>
            <div class="container">
                <div class="row">
                        
                    <div class="w-4 events-content-1 w-xs-12 w-s-12 w-m-6 w-l-4">
                        <a href="javascript:void(0)"><img src="images/2.jpg.webp" alt="image1" ></a>
                        <a href="javascript:void(0)"><h5>JAN 02,2019 <span> EVENT</span></h5></a>
                        
                        <h4><a href="javascript:void(0)">Learn How To Motivate Yourself</a></h4>
                        <p>How many free autoresponders have you tried? And how many emails did you get through using them?</p>
                        <a href="javascript:void(0)"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="w-4 events-content-2 w-xs-12 w-s-12 w-m-6 w-l-4">
                        <a href="javascript:void(0)"><img src="images/3.jpg.webp" alt="image1"></a>
                        <a href="javascript:void(0)"><h5>JAN 02,2019 <span> EVENT</span></h5></a>
                        
                        <h4><a href="javascript:void(0)">What If Let You Run The Hubble</a></h4>
                        <p>My point here is that if you have no clue for the answers above you probably are not operating a followup.</p>
                        <a href="javascript:void(0)"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="w-4 events-content-3 w-xs-12 w-s-12 w-m-6 w-l-4">
                        <a href="javascript:void(0)"><img src="images/4.jpg.webp" alt="image1"></a>
                        <a href="javascript:void(0)"><h5>JAN 02,2019 <span> EVENT</span></h5></a>
                        
                        <h4><a href="javascript:void(0)">Six Pack Abs The Big Picture</a></h4>
                        <p>Some good steps to take to ensure you are getting what you need out of a autoresponder include…</p>
                        <a href="javascript:void(0)"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- contact-us -->
        <section class="contact-us pb">
            <div class="container">
                <div class="row">
                    <div class="w-12 contact flex w-xs-12 w-s-12 w-m-12 w-l-12">
                        <div class="w-6 w-xs-8 w-s-8 w-l-6">
                            <h2>Contact us now!<br>
                                <span>Contact (+12) 345-678-9999 to book directly or for advice</span>
                            </h2>
                            
                        </div>
                        <div class="w-6 flex align-end align-items w-xs-4 w-s-4 w-m-4 w-l-6">
                            <a href="javascript:void(0)"><p>Contact Now</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

        <section class="footer py">
            <div class="container">
                <div class="row">
                    <div class="w-3 content-1  w-xs-12 w-s-6 w-m-6 w-l-3">
                        <img src="images/logo2.png" alt="logo">
                        <h4>+12 345-678-9999</h4>
                        <span>Info.colorlib@gmail.com<br><br>
                            856 Cordia Extension Apt. 356, Lake Deangeloburgh, South Africa</span>
                    </div>
                    <div class="w-3 content-2  w-xs-12 w-s-6 w-m-6 w-l-3">
                        <h5>Our Blog</h5>
                        <a href="javascript:void(0)">Freelance Design Tricks How</a>
                        <h4><i class="fa-solid fa-clock"></i>Jan 02, 2019</h4>
                        <a href="javascript:void(0)">Free Advertising For Your Online</a>
                        <h4><i class="fa-solid fa-clock"></i>Jan 02, 2019</h4>
                    </div>
                    <div class="w-2 content-3 w-xs-12 w-s-3 w-m-3 w-l-2 ">
                        <h5>Links</h5>
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-caret-right"></i><span> About Us</span></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-caret-right"></i><span> Our Room</span></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-caret-right"></i><span> Career</span></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-solid fa-caret-right"></i><span> FAQs</span></a></li>
                        </ul>
                        
                    </div>
                    <div class="w-4 content-4  w-xs-12 w-s-9 w-m-9 w-l-4">
                        <h5>Subscribe Newsletter</h5>
                        <span>Subscribe our newsletter gor get notification <br>about new updates.</span>
                        <form action="index.html">
                            <input type="email" placeholder="Enter your email...">
                            <button type="submit">
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- bottom-bar -->
        <section class="bottom-bar">
            <div class="container">
                <div class="row">
                    <div class="w-7 bottom-text  w-xs-12 w-s-12 w-m-9 w-l-7">
                        <p>Copyright ©2023 All rights reserved | This template is made with  by Colorlib</p>
                    </div>
                    <div class="w-5 bottom-icon  w-xs-12 w-s-12 w-m-3 w-l-5">
                        <ul>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </footer>
</body>
</html>