* {
  margin: 0;
  /* cursor: none; */
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --white-color: #ffffff;
  --white-rgb-color: rgb(255, 255, 255);
  --bg-color: #F3F3F9;
  --black-color: #000000;
  --black-rgb-color: rgb(0, 0, 0);
  --title-color: #495057;
  --description-color: #878a99;
  --primary-fonts: "Poppins";
  --gutter-width: 16px;
  --sidebar-width: 270px;
  --sidebar-height: 100vh;
  --margin-top: 75px;
}

body {
  font-family: var(--primary-fonts);
  background-color: var(--bg-color);
}



a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gutter-width));
  margin-right: calc(-1 * var(--gutter-width));
}

.container {
  width: 100%;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
}

.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 42.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 92.66%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  /* border: 1px solid black; */
}

.gap {
  row-gap: 10px;
}

.text {
  text-align: center;
}

.padding-none {
  padding: 0;
}

.mr-a {
  margin: 0 auto;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.inl {
  display: inline;
}

.in-block {
  display: inline-block;
}

.block {
  display: block;
}

.py {
  padding: 130px 0;
}

.pt {
  padding-top: 130px;
}

.pb {
  padding-bottom: 130px;
}

.align-start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}

.align-items {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.left {
  justify-content: left;
}

.right {
  justify-content: right;
}

/* cursor */
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  z-index: 99999;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  z-index: 99999;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: var(--primary-color);
  opacity: 0.7;
}

.cursorinnerhover {
  width: 100px;
  height: 100px;
  opacity: .5;
  background-color: var(--white-color);
}

/* sidebar */
.sidebar {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: #405189;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: scroll;
  transition: all 0.3s ease;
}

body.close .sidebar:hover {
  width: var(--sidebar-width);
}

body.close .sidebar:hover .logo img,
body.close .sidebar:hover .nav-bar span,
body.close .sidebar:hover .nav-bar h4,
body.close .sidebar:hover .nav-bar .bar-icon {
  display: block;
}

body.close .sidebar:hover .nav-bar i {
  font-size: 15px;
}

.sidebar .logo a {
  padding: 22px;
  margin: 5px;
}

body.close .sidebar {
  width: 100px;
}

body.close .sidebar .logo img {
  display: none;
}

body.close .nav-bar span,
body.close .nav-bar .bar-icon,
body.close .sidebar .nav-bar h4 {
  display: none;
}

body.close .nav-bar .dropdown {
  position: relative;
}

body.close .nav-bar i {
  font-size: 20px;
}

.sidebar .logo img {
  width: 100px;
  height: 17px;
  object-fit: cover;
  display: block;
}

.sidebar .nav-bar h4 {
  font-size: 11px;
  color: #838fb9;
  letter-spacing: 1px;
  padding: 12px 15px;
}

.sidebar nav ul li a {
  color: #abb9e8;
  font-size: 15px;
  display: block;
  padding: 15px 25px;
  transition: all 0.5s ease;
}

.sidebar .nav-bar nav ul>li {
  color: var(--white-color);
}

.sidebar nav ul li a:hover {
  color: var(--white-color);
}

.sidebar nav ul li a .bar-icon {
  display: inline;
}

.sidebar nav ul li a .bar-icon i {
  font-size: 10px;
}

.sidebar nav ul li .dropdown-menu {
  padding: 15px;
  display: none;
}

.sidebar nav ul li .dropdown-menu ul li a {
  display: block;
  font-size: 13px;
  padding: 10px 24px;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid #ebeaea;
  z-index: 999;
  transition: all 0.3s ease;
}

body.close .container .w-12 {
  margin-left: 100px;
}

.header .container .w-12 {
  margin-left: var(--sidebar-width);
}

.header .bar a {
  color: var(--description-color);
  font-size: 18px;
}

.header .header-form form {
  padding: 16px 0;
}

.header .header-form form input {
  padding: 8px 20px;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  font-size: 13px;
  font-family: var(--primary-fonts);
  font-weight: 300;
  border-radius: 5px;
}

.header .others ul li {
  padding: 0 15px;
  margin-right: 5px;
}

.header .others ul li img {
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

.header .others ul li a {
  color: var(--description-color);
}

.header .others ul li .dropdown-menu ul {
  padding: 10px 0;
  background-color: var(--white-color);
  box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
  width: 150px;
  border-radius: 8px;
}

.header .others ul .lan .dropdown-menu {
  display: none;
  top: 200%;
  left: -100%;
}

.header .others ul .lan .dropdown-menu ul li {
  padding: 10px 20px;
  margin: 0;
}

.header .others ul .lan .dropdown-menu ul li:hover {
  background-color: var(--bg-color);
}

.header .others .cart .dropdown-menu ul {
  width: 420px;
  padding: 10px;

}

.header .others .cart .dropdown-menu ul li {
  margin: 0;
  padding: 10px 16px;
}

.header .others .cart .dropdown-menu ul li:hover,
.header .others .user .dropdown-menu ul li:hover {
  background-color: var(--bg-color);
}

.header .others .cart .dropdown-menu ul li a img {
  height: 40px;
  width: 40px;
  display: block;

}

.header .others .cart .dropdown-menu {
  top: 200%;
  left: -500%;
  display: none;
}

.header .others .cart .dropdown-menu h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}

.header .others .cart .dropdown-menu p {
  font-size: 12px;
  font-weight: 300;
  color: var(--description-color);
}

.header .others .cart .dropdown-menu span {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}

.header .others .cart .dropdown-menu i {
  color: #2385BA;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}

.header .others .cart .dropdown-menu i:hover {
  background-color: #c9e3f0;
}

.header .others .cart .dropdown-menu .title {
  padding: 16px;
}

.header .others .cart .dropdown-menu .title h4 {
  font-size: 16px;
  font-weight: 600;
  color: #495057;
}

.header .others .cart .dropdown-menu .title h5 {
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;
  color: #f7b84b;
  background-color: #fef4e4;
  border-radius: 3px;
}

.header .others .cart .dropdown-menu .bill {
  padding: 16px;
}

.header .others .cart .dropdown-menu .bill h4 {
  font-size: 16px;
  font-weight: 600;
  color: #878a99;
}

.header .others .cart .dropdown-menu .bill h5 {
  font-size: 16px;
  font-weight: 500;
  color: #494949;
}

.header .others .cart .dropdown-menu .check-btn {
  text-align: center;
  padding: 0 16px;
}

.header .others .cart .dropdown-menu .check-btn a {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  padding: 8px 14px;
  background-color: #0ab39c;
  display: block;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.header .others .cart .dropdown-menu .check-btn a:hover {
  background-color: #058a78;
}

.header .others .user {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  padding: 10px;
}

.header .others .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header .others .user p {
  font-size: 14px;
  font-weight: 600;
  color: #494949;
}

.header .others .user span {
  font-size: 12px;
  font-weight: 500;
  color: #878a99;
}

.header .others .user .dropdown-menu {
  top: 110%;
  left: 0;
  display: none;
}

.header .others .user .dropdown-menu ul {
  width: 265px;
  padding: 10px 0;
}

.header .others .user .dropdown-menu ul li {
  margin: 0;
  padding: 6px 20px;
}

.header .others .user .dropdown-menu a i,
.header .others .user .dropdown-menu a span {
  font-size: 15px;
}

.header .others .user .dropdown-menu a span {
  font-weight: 400;
  color: var(--black-color);
}

.header .others .user .dropdown-menu a b {
  font-size: 13px;
  margin-left: 6px;
}

.header .others .user .dropdown-menu a h6 {
  color: #0AB39C;
  padding: 2px 8px;
  background-color: #d2eee9;
  border-radius: 3px;
}

.header .others .user .dropdown-menu hr {
  color: #ffffff;
}

/* main-cont */
.main-cont {
  width: 100%;
  margin-top: var(--margin-top);
  transition: all 0.3s ease;
}

body.close .main-cont .container .w-12 {
  margin-left: 100px;
}

.main-cont .container .w-12 {
  margin-left: var(--sidebar-width);
}

.main-cont .container .intro-main {
  margin: 10px 0;
}

.main-cont .container .intro-main h4 {
  font-size: 16px;
  color: var(--title-color);
  font-weight: 500;
}

.main-cont .container .intro-main span {
  font-size: 13px;
  color: var(--description-color);
}

.main-cont .container .intro-main .calender a span {
  display: inline-block;
  padding: 8px 15px;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 5px 0 0 5px;
}

.main-cont .container .intro-main .calender a i {
  font-size: 18px;
  padding: 8px 15px;
  background-color: #405189;
  color: var(--black-color);
  color: var(--white-color);
  border-radius: 0 5px 5px 0;
}

.main-cont .container .intro-main .add-cart a {
  padding: 8px 15px;
  color: #0ab39c;
  background-color: #DAF4F0;
  border-radius: 3px;
  font-size: 13px;
  transition: all 0.3s ease;
}

.main-cont .container .intro-main .add-cart a:hover {
  color: #ffffff;
  background-color: #0ab39c;
}

.main-cont .container .intro-main .add-cart a i {
  margin-right: 8px;
}

.main-cont .container .sale-wrap {
  background-color: var(--white-color);
  padding: 16px;
  margin: 15px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.main-cont .container .sale-wrap:hover {
  transform: translateY(-5%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-cont .container .sale-wrap p {
  color: var(--description-color);
  font-size: 13px;
  font-weight: 600;
}

.main-cont .container .sale-wrap h5 {
  color: #0AB39C;
  font-size: 14px;
  font-weight: 500;
}

.main-cont .container .sale-wrap .sale-con {
  margin-top: 24px;
}

.main-cont .container .sale-wrap .sale-con h3 {
  margin-bottom: 24px;
  color: var(--title-color);
  font-size: 22px;
  font-weight: 600;
}

.main-cont .container .sale-wrap .sale-con a {
  color: #405189;
  text-decoration: underline;
  font-size: 13px;
}

.main-cont .container .sale-wrap .sale-con i {
  color: #0AB39C;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #DAF4F0;
  border-radius: 5px;
}

.chart,
.map,
.sell-1 {
  margin: 10px 0;
}

.chart-wrap,
.map-wrap,
.sell-info-wrap {
  background-color: var(--white-color);
  border-radius: 5px;
}

.chart-title,
.map-title,
.s-i-title,
.sell-info-wrap ul li {
  padding: 16px;
  border-bottom: 1px solid #e9e9e9;
}

.chart-title h6,
.map-title h6,
.s-i-title h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  padding: 4px 0;
}

.chart-title ul li a,
.map-title a {
  text-align: center;
  color: #3577f1;
  font-size: 11px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 4px 8px;
  background-color: #DFF0FA;
  border-radius: 5px;
  display: block;
}

.chart-title ul li a:hover,
.map-title a:hover {
  background-color: #3577f1;
  color: var(--white-color);
}

.chart-title ul {
  padding: 4px 0;
}

.chart-title ul li {
  margin-left: 3px;
}

.chart-info,
.s-i-title {
  border-bottom: 1px solid #e9e9e9;
}

.chart-info .info-1 {
  padding: 16px;
  border-right: 1px solid #e9e9e9;
}

.chart-info h3 {
  font-size: 17px;
  font-weight: 500;
  color: var(--title-color);
}

.chart-info p {
  font-size: 13px;
  font-weight: 400;
  color: var(--description-color);
}

.map-container {
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #e9e9e9;
}

.country {
  padding: 16px;
}

.map-container img {
  width: 100%;
}

.country ul li a {
  font-size: 13px;
  font-weight: 400;
  color: var(--description-color);
}

.country ul li a i {
  font-size: 8px;
  margin-right: 2px;
  color: #00acc1;
}

.country ul li {
  padding: 0.5px 0;
}

.map-container .point {
  cursor: pointer;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #00acc1;
  border-radius: 50%;
  transition: all .3s ease;
  will-change: transform, box-shadow;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(#00acc1, 0.4);
  animation: pulse 3s infinite;
}

.map-container .point:hover {
  animation: none;
  transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.map-container .venezuela {
  top: 54%;
  left: 24%;
}

.map-container .brasil {
  top: 64%;
  left: 28%;
}

.map-container .argentina {
  top: 77%;
  left: 27%;
}

.map-container .colombia {
  top: 55%;
  left: 21%;
}

.map-container .panama {
  top: 51%;
  left: 18%;
}

.map-container .mexico {
  top: 38%;
  left: 12%;
}

.map-container .usa {
  top: 26%;
  left: 17%;
}

.map-container .arabia {
  top: 40%;
  left: 53%;
}

.map-container .turquia {
  top: 31%;
  left: 57%;
}

.map-container .rusia {
  top: 16%;
  left: 67%;
}

.map-container .china {
  top: 40%;
  left: 72%;
}

.map-container .japon {
  top: 34%;
  left: 86%;
}

.map-container .australia {
  top: 72%;
  left: 86%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(#00acc1, 0.5);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(#00acc1, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(#00acc1, 0);
  }
}

.s-i-title h5 {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.s-i-title h5 span {
  font-size: 13px;
  color: var(--description-color);
  font-weight: 500;
}

.sell-info-wrap {
  background-color: var(--white-color);
}

.sell-info-wrap ul li {
  padding: 16px;
}

.sell-info-wrap ul li:hover {
  background-color: #e0e0e0;
}

.sell-info-wrap ul li img {
  width: 40px;
  height: 40px;
  background-color: #ececec;
  border-radius: 5px;
}

.sell-info-wrap ul li a {
  color: var(--title-color);
}

.sell-info-wrap ul li a h4,
.sell-info-wrap ul li a p,
.sell-info-wrap ul li h6 {
  font-size: 14px;
  font-weight: 500;
}

.sell-info-wrap ul li a p {
  color: var(--description-color);
}

.sell-info-wrap ul li a span {
  font-size: 13px;
  color: var(--description-color);
}

.sell-info-wrap ul i {
  display: block;
  font-size: 13px;
  color: var(--description-color);
  padding: 16px;
}

/* login */
.form-wrapper,
.signup-form-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-cont,
.signup-form-cont {
  border-radius: 10px;
  height: 340px;
  width: 300px;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-form-cont {
  height: 580px;
  width: 400px;
}

.form-title,
.signup-form-title {
  background-color: #405189;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.form-title img,
.signup-form-title img {
  width: 100px;
  height: 17px;
}

.form-text,
.signup-form-text {
  padding: 15px;
}

.form-text .user-name input,
.form-text .password input,
.signup-form-text input {
  width: 100%;
  border-radius: 50px;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #e9e9e9;
  outline: none;
  color: var(--title-color);
  margin: 10px 0;
}

.form-text .user-name i,
.form-text .password i,
.signup-form-text i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #405189;
  line-height: 3;
  font-size: 18px;
  color: var(--white-color);
}

.form-text .user-name a,
.form-text .password a,
.signup-form-text a {
  text-align: center;
  top: 10px;
  right: 0;
}

.login-btn button {
  display: block;
  background-color: #405189;
  color: var(--white-color);
  width: 100%;
  border: 1px solid #405189;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 50px;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.login-btn button:hover {
  background-color: transparent;
  border: 1px solid #405189;
  color: #405189;
}

.sign-up-path i a,
.signup-form-text .login-path i a {
  text-decoration: underline;
}

.sign-up-path i,
.signup-form-text .login-path i {
  font-size: 12px;
  color: var(--description-color);
}

.signup-form-text .login-path i {
  border-radius: 0;
  background: none;
}

#calendar {
  width: 100%;
  height: 300px;
}